/* Global */

html,body{margin:0;padding:0}

body {
  background: black url('images/gbg.png');
  font-family:        Verdana,sans-serif;
}

#megadiv {min-width:800px;}

a {color:white;}

a img {
  border:none;
}

h1, h2, h3 {
  margin:0px; 
  padding:0px;
}

.clear {
  clear: both;
}

.clr {
  clear: left;
}

.clr2 {
  clear: right;
}

.aright {
  float: right;
}

.aleft {
  float: left
}

/* Textareas */

#main input,textarea {
  font: Arial, Helvetica, sans-serif;
  padding: 5px 3px 3px 7px;
  background: url(images/form_bg.gif) no-repeat;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  border-left: 1px solid #e6e6e6;
  font-size:16px;
}

textarea:hover,#main input:hover, button:hover {
  border:2px solid #00BFFF;
  padding: 4px 2px 2px 6px;
}

textarea:focus,#main input:focus, button:focus {
  border:2px solid #00BFFF;
  padding: 4px 2px 2px 6px;
  outline-color:#00BFFF;
  background-position:0px -400px;
}

input[type="button"],input[type="submit"] {
  font-size:110%;
  padding:auto;
  background:white; 
  font-weight:bold;
}


/* Header */

#header {
  position:relative; 
  margin-left:20%;
}

#blog-title a {
  color:white;
  font:  Bold 45px 'Arial Black', Tahoma, Helvetica, sans-serif; 
  text-decoration:none;
  margin-top:10px;
  text-shadow: 3px 3px 0.5px #555;
}

#blog-title a:hover {
  color:white;
  background:none;
}

#description {
  color:white; 
  font:  Bold 20px 'Arial Black', Tahoma, Helvetica, sans-serif; 
  text-decoration:none;
  text-shadow: 3px 3px 0.5px #555;
  
}

#logogo {
  background:url('images/graf.gif');
  margin-right:10px;
  width:138px;
  height:138px;
  margin-top:10px;
  margin-left:10px;
  float:left;
  display:block;

}


/* Menu */
  #menu {
    margin-top:10px;
  }

 .bt { 
    background: no-repeat url('images/icons.gif');
    width:40px; 
    height:40px;
    float:left;
    
    overflow:hidden;
  }
  
  .bt a {
    padding:4px 0px 10px 40px; 
    margin:0px;
    color:#fff;

    text-decoration:none;
    font-weight:bold;
    display:block;
    font:  Bold 22px 'Arial Black', Tahoma, Helvetica, sans-serif; 
  }
  
  #s {
    width:140px;
    margin: 5px 0px 0px 0px;
    font-size:14px;
  }
  
  .sbt {width:200px; float:left; overflow:visible; padding-top:5px;}
 
  #b1 {background-position:0px 0px;}
  #b2 {background-position:0px -40px;}
  #b3 {background-position:0px -80px;}
  #b4 {background-position:0px -120px;}
  #b5 {background-position:0px -160px;}

  #searchsubmit {background:url('images/icons.gif') 0px -200px; border:0px; width:40px; height:40px;}

/* Main */


#wrapper {
  float:left;
  width:100%;
}

#main {margin: 0 20%; padding:0 10px;}

.round, .altround {
  margin-top:5px;
  padding:5px;
  text-align:left;
  color:#333;
  width:93%;
  margin-left:auto;
}

.round h2, .altround h2 {
  font-size:16px;
  font-weight:bold;
  margin:5px;
}

.round h3, .altround h3 {
display:inline;
}


.altround {
  margin-top:5px; 
  margin-bottom:5px;
}

/* IE6 */


.round a:link, .altround a:link{
  color:#0a4c75;
}

.round a:hover, .altround a:hover{
  color:white;
  background-color:#0a4c75;
}

.round a:visited, .altround a:visited{
  color:#0a4c75;
}

div.aligncenter {margin:auto}

.more-link {font-weight:bold;}

.more-link:after {content: " \2192 \ ";}

.ptitle, .ptitle a, .ptitle h3 a, .ptitle h1, .ptitle h4 {
  font: 30px 'Arial Black', Tahoma, Helvetica, sans-serif;
  color:            #fff;
  padding:  0px;
  margin:    0px;
  text-decoration: none;
}

.ptitle h3 a, .ptitle a {text-decoration: underline;}

.ptitle h3 a:hover,.ptitle a:hover {background-color:#333;}

.ptitle h4 {
  font: 23px 'Arial';
  color: #aaa;
}

.date, .date a {
   font: bold 24px Helvetica, sans-serif;
   color: #666;
   padding: 0px;
   margin: 0px;
}

.date {margin-left:30px; margin-top:15px;}

#pager {text-align:center}
#pager a {color:white; font-size:28px; text-decoration:none}
#pager a:hover {text-decoration:underline}

.tags {
padding-left:40px;
}

.tags, .tags a, #left a,#sidebar a {
color:#666;
font-weight:bold;
}

.tags a:hover, .date a:hover, #left a:hover
, #sidebar a:hover {
color:#fff;
text-decoration:underline;
}

/* Post */

.storycontent img {margin-right:7px;}

.storycontent a:hover {color:#fff; background:#0a4c75;} 



.storycontent p {
text-indent:10px;
}



.storycontent .large-ul li {
  margin-bottom:15px;
}

.storycontent ul {
  padding-top:0px;
  margin-top:0px;
}



.commentlink a {
background:url('images/icon_comment.gif') no-repeat;
padding-left:20px;
}

.commentlink a:hover {
background:url('images/icon_comment.gif') no-repeat;
padding-left:20px;
color:#123;
}

.cancel-comment-reply a {color:white; font-style: italic; margin-left:10px;}
.cancel-comment-reply a:hover {color:#fff; background-color:#0a4c75;}


.feedback {
font-weight:bold;
color:#888888;
margin-top:12px;
}

.single{
text-align:left;
color:#fff;
}

/* Comments */

.avatar {float:left; margin:5px; margin-top:10px;}

.comment-title {
font-size:110%; 
font-weight:bold; 
background:url('images/icon_comment.gif') no-repeat;
padding-left:20px;
}

.commentmetadata {font-size:90%;}

.comment p {padding-bottom:5px;}
.comment {margin-bottom:10px;}

#reply {text-align:center;}
#reply .inputholder {float:left; overflow:right; margin-top:5px; width:33%; text-align:center;}
#reply .inputholder input {width:90%}
#reply textarea {width:96%; height:120px;} /*width:89*/
#reply #submit {margin-top:5px;}
#reply .wbutton {width:30px; height:30px;}
#reply .i_ {font: normal italic}

#reply .commentholder {}
#reply .textholder {float:left; width:90%;}
#reply .buttonholder{width:30px; float:right;}


/* Left */

#left {
  float:left;
  width:20%;
  margin-left:-100%;
  text-align:center;
  color:#ccc;
  margin-top:210px;
}

/* Sidebar */

#sidebar{
  float:left;
  width:20%;
  margin-left:-20%;
  text-align:center;
  color:#ccc;
  margin-top:100px;
}

.widget-title {
margin-top:10px;
margin-bottom:5px;
font-weight:bold;

}


/* Footer */

#footer{
  padding-top:20px;
  clear:left;
  width:100%;
}

#copyright {
  text-align:center;
  color:#fff;
  line-height: 1.6em;
}
#copyright a {color:#fff}




/* Round Borders */


    .round .gwtext, .altround .gwtext {
      padding:18px 23px 13px 27px; 
      clear:both; 
      background:#fff; 
      border-left:10px #555 solid;
      border-right:10px #555 solid;
      margin-left:-15px;
     }
     
     .round .gwtext a:hover, .altround .gwtext a:hover {color:#fff; background-color:#0a4c75;}
     
     .altround .gwtext {background:#ffffcc}
     


.round .gwtext, .altround .gwtext {
 border:10px #555 solid;
  -webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
}



/* end Round Borders */

p {margin:0px; padding-bottom:10px;}

.editlink {width:16px; height:16px; background:url('images/editlink.png'); position:absolute; margin-left:5px;}

#tooltip {
        position: absolute;
        z-index: 3000;
        border: 1px solid #111;
        background-color: #ffffcc;
        padding: 5px;
        opacity: 1;
        font-size:10pt;
        font-family: Arial;
        font-weight:normal;

}


/* Image Captions*/


.alignleft {
float: left;
}

.alignright {
float: right;
}

.wp-caption {
border: 1px solid #ddd;
text-align: center;
background-color: #f3f3f3;
padding-top: 4px;
margin: 10px;
/* optional rounded corners for browsers that support it */
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.wp-caption img {
margin: 0;
padding: 0;
border: 0 none;
}

.wp-caption p.wp-caption-text {
font-size: 13px;
line-height: 17px;
padding: 0 4px 5px;
margin: 0;
}

.download-button, a.download-button:link, 
 a.download-button:visited, a.download-button:hover {
  display: block;
  text-align:center;
  margin:auto;
  width:150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 20px;
  background-color: rgb(22,126,5);
  background-image: -moz-linear-gradient(bottom, rgb(22,126,5) 35%, rgb(49,164,31) 68%);
  background-image: linear-gradient(bottom, rgb(22,126,5) 35%, rgb(49,164,31) 68%);
  background-image: -webkit-linear-gradient(bottom, rgb(22,126,5) 35%, rgb(49,164,31) 68%);
  background-image: -webkit-linear-gradient(bottom, rgb(22,126,5) 35%, rgb(49,164,31) 68%);
  background-image: -ms-linear-gradient(bottom, rgb(22,126,5) 35%, rgb(49,164,31) 68%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.35, rgb(22,126,5)),
    color-stop(0.68, rgb(49,164,31))
  );
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 1px solid #000000;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.4),
    0px 1px 0px rgba(255,255,255,0.3);
}

a.download-button:hover {
  text-shadow: 0 0 5px #FFFFFF;
}

.download-button:active{
   position: relative;
   top: 1px;
   left: 1px;
}

.centered {
  text-align: center;
}

.padded {
  padding: 10px;
}


a.github, a.github_big {
  padding: 5px 10px 5px 30px !important;
  background: #EAEAEA no-repeat !important;
  background-position: 9px 6px, 0px, 0px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QYXDAcenK5tFwAAAfpJREFUKM+NUz1vE0EQfTu79oX41rkPn4wlOiQ6JEoDhiDKSBQ0SBQpaPMPaCipkaCIAIkiBSlQxC9AkIAoaJCoIUIgJcR3vjvLsmJ7PyhyZ50igfOq2dl5b2ZnZhlOwfO8m0R0nzF2m1nbAQDL2IG19p0x5nWWZbvVeFaxecv3X3Eh1vEfaKW24jR9AEBXBXgYhnuC6CrOAGXM5yRJbgDQHABavr8lOF9TSu1OZrN7gzQ9IM4vEGN9a21iAbcfxw8n0+mjeq12SXDeO+c4F8fHxzuQUnbbUWTbUWSDINgskrgAlitJ3bLaIAg2y3gpZZccITbmpSn1sjBHAMYVgREACwBa6+3S6QixQSDqAYA2ZsoYSxa9nzG2r42ZAACIegSgU9wc5nm+v0ggy7KfYOxPcexQWRqAFQB0hiEQrPUK25IFfgEAZ2wlDMM7i9ie561xoiZOMv8mDuwZa3EUx9oo9cZ33ev/IvtSXhOcv6i43tNEqWfTyQzWWp0Nh8N8PP5IRGMpZXfebce5RUT9+tLSJ050vvQbY55Snudfa07teTuK6p4Qq41GY1267hciOqoIjJrNZuvUNj5J0/Tb/C+Evv+BEV3WxlwxxgzzPM8q8bIVhoecaLnYhbfxYHAX1a4naboKxrY50Y+aEN/n4z1BoyQrpR6XZAD4CxrjxWg0Q7lGAAAAAElFTkSuQmCC'), linear-gradient(#FAFAFA, #EAEAEA) !important;
  text-shadow: 0 1px 0 #FFFFFF !important;
  color: #333333 !important;
  border: 1px solid #C5C5C5 !important;
  border-radius: 3px 3px 3px 3px !important;
  cursor: pointer !important;
  font-size: 13px !important;
  font-weight: bold !important;
  text-decoration: none !important;
  margin: auto !important;
}

a.github_big{
  background-position: 9px 6px, 0 center, 0 center !important;
  padding: 13px 15px 13px 45px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACJUlEQVR4nO3Wv2sUQRwF8M8FUYkxxqCojYUIJoWCghGLlGKhCImlFhYWopailVpoIYJphFiJja0GtVIEK0GL/AAN+Q/iz0giksJotNhdsrc3k9u7Cyjog+H2Zt/3vTc7w8zwr6PSALcTAziEfdiGDnzDO4zhOUYwt5IhN+MW5vGrRJtP+ZtWwvw4PpU0LraPGGzF/GqTxsV25U+aZ+1yI+YDheIxvGrAbBEvMVroO1bGvBsfCoIH03e9eIgFTOAx7qe/42n/CHpS/oGCzjS66gW4ERhRd4GzJlK7uvC/M6B1fTnzDnwNFO2olzqC7QGtObTnSW2556NYXxD5USxoAOsk05JHJ47ECu6pTTzUpHmGmwHNuzHyRIC8u8UAvQHN8Rh5pkBcxKoWA7RJpjGv+zlGXggEaIuRG0BR93sxYYb5QmFF6wdKt9qvWOWTDzATENjfYoC+QF+VTz7AZIB8osUAofq3MfIltSv2J/qbNO9P64uaF2MFOyULL7R7nVT+9lRJ+XMBrcXUJ4pnKXEKu1RvTpO4Jn7JGEzfTwaMs/a0Xvo+S59tFGslJ1xe5Hak9s4yxtl0llrUw7miC9iAB5jFG+yJ1B2uE2C4jDnJqLMLyHtsLVkX2naz9jrVLY0tluZyWjK3p3BafHPqiZhPNTCIKnRJ7vllD6hQgBfY2Ix5hgrO4EtOdG+JALM4Z2XOEiS3pbN4IlmUIbTjEc6rvdj8x9+L34KDHSqohA8iAAAAAElFTkSuQmCC'), linear-gradient(#FAFAFA, #EAEAEA) !important;
}


a.github:hover, a.github_big:hover {
  background-color:auto !important; 
  border-color: #51A7E8 !important;
  box-shadow: 0 0 5px rgba(81, 167, 232, 0.5) !important;
  text-decoration: none !important;
}



.index-link div {
  padding: 3px 0 6px 10px;
}


.height300 {
  height: 280px
}

#yandexform0 .yaform__search, #yandexform0 .yaform__search td, #yandexform0 td.yaform__precise-i  {
    background-color: none !important;
}

blockquote {
    border-left: 6px solid #DDDDDD;
    margin-left: 35px;
    padding-left: 15px;
} 

code {
    background-color: #F8F8F8;
    border: 1px solid #DADADA;
    border-radius: 2px 2px 2px 2px;
    font-size: 12px;
    margin: 0 2px;
    padding: 1px 5px 0;
    white-space: nowrap;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
}